<h3>Verfügbare Produkte</h3>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="selectedProduct = product"
      *ngFor="let product of shoppinglistService.products"
      [class.selected-product]="product.id === selectedProduct?.id"
  >
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
  </tbody>
</table>


<div>
  <input [(ngModel)]="addCartAmount" type="number">
  <button (click)="addProductToCart()" [disabled]="addCartAmount < 1 || !selectedProduct"
          class="btn btn-success">
    Add to Cart
  </button>
</div>


<div>
  <div *ngIf="showNewProduct">
    <input [(ngModel)]="newProductName" type="text">
    <input [(ngModel)]="newProductPrice" type="number">

    <button (click)="addProduct()" [disabled]="newProductName.length<1 || newProductPrice<1" class="btn btn-success">
      OK
    </button>
    <button (click)="hideAddProduct()" class="btn btn-danger">Abbrechen</button>
  </div>
  <button (click)="showAddProduct()" *ngIf="!showNewProduct" class="btn btn-primary">Product hinzufügen</button>
</div>
